html {
    scroll-behavior: smooth;
}

body {
    background-image: url("images/bg_bottom.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100vw, auto;
    background-color: #d7b77a;
    /* animation: fadeIn 2s; */
    margin: 0;
}

#bg-top {
    width: 100%;
    z-index: -10;
    position: absolute;
}

#bg-bottom {
    width: 100%;
    z-index: -10;
    /* position: absolute; */
    position: fixed;
    bottom: 0
}

.dark-mode {
    background-image: url("images/bg_night_bottom.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100vw, auto;
    background-color: #36334a;
}

#dark-button {
    border-radius: 5px;
    background-color: #dd7d00;
    border-style: solid;
    border-width: 5px;
    border-color: #6e4030;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0);
    text-align: center;
    width: 45px;
    height: 45px;
    padding: 5px;
}

#dark-button:hover {
    cursor: pointer;
}

.headercontainer {
    padding-top: 30px;
    width: 100%;
}

.header {
    padding-top: 40px;
    margin-right: 15%;
    padding-left: 15%;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.tabs {
    display: flex;
    font-family: 'calibri', sans-serif;
    gap: 20px;
    padding-top: 7px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: #dd7d00;
    border-style: solid;
    border-width: 5px;
    border-color: #6e4030;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0);
}

.dark-tabs {
    background-color: #36344b;
    border-color: #d6d5e8;
    color: #d6d5e8;
    border-width: 3px;
    padding-top: 9px;
}

.tablink {
    text-decoration: none;
    color: black;
}

.tablink:hover {
    color: #6e4030;
}

.dark-tablink {
    color: #d6d5e8;
}

.dark-tablink:hover {
    color: #8280a4;
}

.title {
    font-size: 40px;
    text-align: center;
    /* padding-top: 120px; */
    font-family: 'calibri', sans-serif;
    font-weight: bold;
    text-shadow: -1.5px -1.5px 0 #d7b77a, 
        1.5px -1.5px 0 #d7b77a, 
        -1.5px 1.5px 0 #d7b77a, 
        1.5px 1.5px 0 #d7b77a;
}

.dark-title {
    color: #dadaf0;
    text-shadow: -1.5px -1.5px 0 #36344b, 
        1.5px -1.5px 0 #36344b, 
        -1.5px 1.5px 0 #36344b, 
        1.5px 1.5px 0 #36344b;
}

.name {
    font-family: 'Satisfy', cursive;
    -webkit-text-stroke-width: 0px;
    font-size: 45px;
}

.about-me {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 150%;
    max-width: 300px;
    min-width: 100px;
}

.pic {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-me-text{
    background-color: rgba(247, 244, 228);
    font-family: 'calibri', sans-serif;
    font-size: large;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: 90;
    border-style: dashed;
    border-width: 5px;
    border-color: #6e4030;
}

.dark-about-me-text {
    background-color: rgba(42,38,70);
    border-color: #d6d5e8;
    color: #dadaf0;
}

.contact-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto; 
    margin-right: 0;
    width: 80px;
}

.section-header {
    padding-top: 50px;
    padding-left: 20%;
    font-family: 'calibri', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.dark-section-header {
    color: #dadaf0;
}

.position-listing {
    display: flex;
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'calibri', sans-serif;
    gap: 30px;
}

.dark-position-listing {
    color: #dadaf0;
}

.company-logo {
    border-radius: 6px;
    width: 60px;
    height: 60px;
}

.position-date {
    font-weight: 70;
}

.position-info {
    display: flex;
    flex-direction: column;
}

.position-company {
    font-size: 20px;
    font-weight: bold;
}

.position-title {
    color: #a35c00;
    font-size: 18px;
    font-weight: bold;
}

.dark-position-title {
    color:#e4ddbf;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 2.5vw;
    padding-left: 15%;
    padding-top: 40px;;
    border-radius: 12px 12px 0px 0px;
}

.project-card {
    width: 300px;
    height: 380px;
    perspective: 1000px;
}

.project-card-inner {
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    display: flex;
    flex-direction: column;
    gap: 0px;
    border-radius: 10px;
    background-color: rgba(247, 244, 228);
    width: 300px;
    height: 380px;
    padding: 10px;
    border-width: 3px;
    border-color: #6e4030;
    border-style: dashed;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.project-card:hover .project-card-inner {
    transform: rotateY(180deg);
}

.project-card:active .project-card-inner {
    transform: rotateY(180deg);
}

.project-card-front, .project-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.project-card-front {
    width: 300px;
    height: 380px;
}

.project-card-back {
    transform: rotateY(180deg);
    justify-content: center;
    width: 290px;
    height: 370px;
    padding: 5px;
    font-family: 'calibri', sans-serif;
    font-weight: 100;
}

.dark-project-card-inner {
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    display: flex;
    flex-direction: column;
    gap: 0px;
    border-radius: 10px;
    background-color: rgba(42,38,70);
    border-color: #d6d5e8;
    color: #dadaf0;
    width: 300px;
    height: 380px;
    padding: 10px;
    border-width: 3px;
}

.project-card:hover .dark-project-card-inner {
    transform: rotateY(180deg);
}

.project-img {
    max-width: 100%;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.project-back-img {
    max-width: 100%;
    width: 300px;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}

.project-back-img-2 {
    max-width: 100%;
    width: 300px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}

.project-text {
    font-family: 'calibri', sans-serif;
    max-width: 100%;
    padding: 10px;
}

.project-title {
    padding-top: 8px;
    font-size: larger;
    font-weight: bold;
}

.project-description {
    font-weight: 80;
    padding-top: 10px;
}

.project-back-description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.link-buttons {
    width: 100%;
    display: flex;
    padding-top: 15px;
    justify-content: flex-end;
}

.link-back-buttons {
    padding-top: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.placeholder {
    padding: 50px;
}

.credit {
    width: 100%;
    text-align: center;
    font-family: 'calibri', sans-serif;
    color: black;
    font-weight: bold;
    padding-bottom: 50px;
}

.dark-credit {
    color: #dadaf0;
}

.language-icon {
    border-radius: 5px;
}

/* Laptop */
@media (max-width: 1500px) {
    #dark-button {
        border-radius: 5px;
        font-size: 20px;
        padding-right: 6px;
        padding-bottom: 6px;
    }

    .header {
        padding-top: 40px;
        padding-left: 15%;
    }
    .about-me {
        padding-top: 50px;
        gap: 30px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .img-container {
        width: 150%;
        max-width: 300px;
        min-width: 100px;
    }

    .pic {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .about-me-text{
        border-radius: 10px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .contact-buttons {
        display: flex;
        gap: 10px;
        margin-left: auto; 
        margin-right: 0;
        width: 80px;
    }
    .projects-container {
        padding-left: 10%;
    }
    .placeholder {
        padding: 100px;
    }
}

/* Tablet */
@media (max-width: 1025px) {
    .projects-container {
        display: grid;
        grid-template-rows: repeat(2, 380px);
        grid-template-columns: repeat(2, 300px);
        column-gap: 5vw;
        row-gap: 5vw;
        padding-left: 10%;
        padding-top: 40px;;
        border-radius: 12px 12px 0px 0px;
    }
}

/* Project container specific */
@media (max-width: 735px) {
    .projects-container {
        display: grid;
        grid-template-rows: repeat(3, 380px);
        grid-template-columns: repeat(1, 300px);
        row-gap: 12vw;
        padding-left: 5%;
        padding-top: 40px;
        border-radius: 12px 12px 0px 0px;
    }
}

/* Phone */
@media (max-width: 540px) {
    .header {
        padding-top: 5%;
        padding-left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 7px;
    }
    .about-me {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }
    .img-container {
        width: 80%;
    }
    .about-me-text {
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-header {
        padding-left: 10%;
    }
    .position-listing {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }